body {
    background-color: rgb(238, 200, 255);
}


/* .ты{
  width: 300px;
  height: 300px;
  object-fit: cover;
  /* Открытый верх: ложбинка поднята до 25px, изгибы начинаются у самого края (5px) */
  

.ты {
  /* Увеличенный размер до 500px */
  width: 500px;
  height: 500px;
  object-fit: cover;
  
  /* Пересчитанный вектор под размер 500x500 с сохранением открытого верха */
  clip-path: path("M250,41 C250,41 208,8 125,8 C50,8 8,50 8,133 C8,250 141,350 250,441 C358,350 491,250 491,133 C491,50 450,8 375,8 C291,8 250,41 250,41 Z");
  ;display: block;          /* обязательно */
  margin: 0 auto;          /* центрирует по горизонтали */
  max-width: 100%;         /* чтобы не вылезала за экран */
}
h3 {
  font-size: 30px;  
  text-decoration: solid;
  text-align: center;
}